# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown
[*.md]
trim_trailing_whitespace = false

# Shell scripts
[*.sh]
max_line_length = 79
keep_padding = true             # shfmt: -kp
space_redirects = true          # shfmt: -sr
switch_case_indent = true       # shfmt: -ci
