# ShellCheck settings
#
# Last reviewed release: v0.10.0

# List of optional checks to enable
enable=all

# List of checks to disable
#
# Check ID          Symbolic name                   Type
# SC2250            require-variable-braces         optional
disable=SC2250

# Add the script directory to the search path for source statements
source-path=SCRIPTDIR

# vim: syntax=conf cc=80 tw=79 ts=4 sw=4 sts=4 et sr
